---
layout: default.njk
---
<h1>{{ title }}</h1>

{{content | safe }}

{%- for article in collections.articles | reverse -%}
<article class="snippet">
  {%- if article.data.image %}
  <img src="{{article.url}}{{article.data.image}}" />
  {%- endif %}
  <h2><a href="{{article.url}}">{{article.data.title}}</a></h2>
  <p>{{article.data.description}}</p>
  <footer>Posted on {{ article.date | postDate }}</footer>
</article>
{%- else -%}
<p>There are no articles available.</p>
{%- endfor %}

<a href="/rss.xml">Feed</a>