---
title: Articles
description: Recent and not-so recent writing
layout: default.njk
pagination:
  data: collections.articles
  reverse: true
  size: 12
  generatePageOnEmptyData: true
---
<h1>{{ title }}</h1>

{{content | safe }}

{% if pagination.href.previous %}<div class="links"><li><a href="{{ pagination.href.previous }}">&laquo; Newer articles</a></li></div>{% endif %}

{%- for article in pagination.items -%}
  {%- include 'snippet.njk' %}
{%- else -%}
<p>There are no articles available.</p>
{%- endfor %}

{% if pagination.href.next %}<div class="links"><li><a href="{{ pagination.href.next }}">Older articles &raquo;</a></li></div>{% endif %}
