---
layout: default.njk
---
<article>
  <header>
    <h1>{{ title }}</h1>
  </header>

  {%- if image %}
  <figure class="article__figure">
    <img src="{{ image }}" alt="{{ imageAlt }}" />
    <figcaption>{{ imageAlt }}</figcaption>
  </figure>
  {%- endif %}

  <footer>
    <time datetime="{{page.date}}" title="Published on {{ page.date | postDate }}">🗓 {{ page.date | postDate }}</time>
    {%- if updated %} 
    <time datetime="{{ updated }}" title="Edited on {{ updated | postDate }}">📝 {{ updated | postDate }}</time>
    {%- endif %}
    🏷 
    {% for tag in tags | filterTagList %}
      <a href="/tags/{{ tag }}/">{{ tag }}</a>
    {% endfor %}
  </footer>

  {{content | safe }}
</article>