---
layout: default.njk
---
<article>
  <header>
    <h1>{{ title }}</h1>
  </header>

  {%- if image %}
  <figure class="article__figure">
    <img src="{{ image }}" alt="{{ imageAlt }}" />
    <figcaption>{{ imageAlt }}</figcaption>
  </figure>
  {%- endif %}

  {{content | safe }}

  <hr />

  <footer>
    {% for tag in tags | filterTagList %}
      <a href="/tags/{{ tag }}/">#{{ tag }}</a>
    {% endfor %}
    <br />
    <time datetime="{{page.date}}" title="Published on {{ page.date | postDate }}">Published on {{ page.date | postDate }}</time>
    {%- if updated %} 
    <br />
    <time datetime="{{ updated }}" title="Updated on {{ updated | postDate }}">Updated on {{ updated | postDate }}</time>
    {%- endif %}
  </footer>
</article>