---
layout: default.njk
---
<article>
  <header>
    <h1>{{ title }}</h1>
    {%- if image %}
      <img src="{{ image }}" alt="{{ imageAlt }}" title="{{ imageAlt }}" width="800" height="450" />
    {%- endif %}
  </header>

  <footer>
    <p>
      Published <time datetime="{{page.date}}" title="Published on {{ page.date | postDate }}">on {{ page.date | postDate }}</time>
      {%- if updated %} 
        <br />
        Updated <time datetime="{{ updated }}" title="Updated on {{ updated | postDate }}">on {{ updated | postDate }}</time>
      {%- endif %}
      in {% for tag in tags | filterTagList %}
        <a href="/tags/{{ tag }}/">#{{ tag }}</a>
      {% endfor %}
    </p>
  </footer>

  <hr />

  {{content | safe }}
</article>