<!DOCTYPE html>
<html lang="en">
  {%- include 'header.njk' %}
  <body>
    <main>

      {%- include 'nav.njk' %}

      {{ content | safe }}

      {%- include 'footer.njk' %}
    </main>
  </body>
</html>