<!DOCTYPE html>
<html lang="en">
  {%- include 'header.njk' %}
  <body>
    <nav>
      <a href="/" title="Home">brd.mn</a>
    </nav>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>