<hr />

<p>
  <a href="{{ site.url }}{{ site.feed }}" title="Subscribe with RSS"><img rel="alt" src="/images/rss.png" srcset="/images/rss.png, /images/rss@2x.png 2x /images/rss@3x.png 3x" width="16" height="16" alt="RSS" /> Subscribe with RSS</a><br />
  <a rel="me nofollow" href="https://linkedin.com/in/philipboardman/" title="Connect on LinkedIn"><img rel="alt" src="/images/linkedin.png" srcset="/images/linkedin.png, /images/linkedin@2x.png 2x /images/linkedin@3x.png 3x" width="16" height=alt="LinkedIn" /> Connect on LinkedIn</a><br />
  <a rel="me nofollow" href="https://theblower.au/@pbrdmn" title="Social networking on Mastodon"><img rel="alt" src="/images/mastodon.png" srcset="/images/mastodon.png, /images/mastodon@2x.png 2x /images/mastodon@3x.png 3x" width="16" height=alt="Mastodon" /> Toots on Mastodon</a><br />
  <a rel="me nofollow" href="https://github.com/pbrdmn" title="Code repositories on GitHub"><img rel="alt" src="/images/github.png" srcset="/images/github.png, /images/github@2x.png 2x /images/github@3x.png 3x" width="16" height="16" alt="GitHub" /> Code on GitHub</a>
</p>