{% set css %}
  {% include "../styles.css" %}
{% endset %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{icon}} {{title}} / {{ site.name }}</title>
  <meta name="description" content="{{ description }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="alternate" type="application/rss+xml" title="RSS"
      href="{{ site.url }}{{ site.feed }}">
  <meta
    name="theme-color"
    content="#f4eff5"
    media="(prefers-color-scheme: light)"
  />
  <meta
    name="theme-color"
    content="#160d16"
    media="(prefers-color-scheme: dark)"
  />
  <link rel="icon" href="/logo.png" type="image/png" />
  {%- include 'social.njk' %}

<style>
{{ css | cssmin | safe }}
</style>
</head>