---
layout: default.njk
---
<h1>{{ title }}</h1>

{{content | safe }}

<h2>Recent Articles</h2>

{%- for article in collections.articles | reverse | limit(3) -%}
  {%- include 'snippet.njk' %}
{%- endfor %}

<a href="/articles/">All articles</a>