<nav>
  <ul>
    <li><a href="/articles/">📝 Articles</a></li>
    <li><a href="/cv/" title="Resume for Philip Boardman">📃 Work</a></li>
    <li><a id="email" href="mailto:spam@brd.mn">✉️ Email <script>;</script></a></li>
    <li><a rel="me nofollow" href="https://github.com/pbrdmn" title="Code repositories on GitHub">💻 Code</a></li>
  </ul>
</nav>
