<nav>
  <ul>
    <li>
      <a class="logo" href="/" title="brd.mn"><img
        src="/images/logo@2x.webp"
        srcset="/images/logo@1x.webp 1x, /images/logo@2x.webp 2x, /images/logo@3x.webp 3x"
        width="64"
        height="64" 
        alt="{{ site.author }}"
      ></a>
    </li>
    <li><a href="/articles/">Articles</a></li>
    <li><a rel="me nofollow" href="https://linkedin.com/in/philipboardman/" title="Connections on LinkedIn">LinkedIn</a></li>
    <li><a rel="me nofollow" href="https://theblower.au/@pbrdmn" title="Social networking on Mastodon">Toots</a></li>
    <li><a rel="me nofollow" href="https://github.com/pbrdmn" title="Code repositories on GitHub">Code</a></li>
    <li><a href="/cv/">CV</a></li>
  </ul>
</nav>