<nav>
  <ul>
    <li>
      <a class="logo" href="/" title="brd.mn"><img
        src="/images/logo.jpg"
        srcset="/images/logo.jpg 1x, /images/logo@2x.webp 2x, /images/logo@3x.webp 3x"
        width="64"
        height="64"
        alt="{{ site.author }}"
      ></a>
    </li>
    <li><a href="/articles/">Articles</a></li>
    <li><a href="/cv/">CV</a></li>
  </ul>
</nav>