<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <meta
      name="theme-color"
      content="#f4eff5"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#160d16"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>brd.mn &rArr; {{ title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Philip Boardman</a></h1>
      <p>Engineering Manager</p>
    </header>

    <nav>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/links">Links</a>
        </li>
      </ul>
    </nav>
    <article>
    {{ content | safe }}
    </article>
  </body>
</html>