<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <meta
      name="theme-color"
      content="#f4eff5"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#160d16"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>brd.mn &rarr; {{ title }}</title>
    <meta name="description" content="{{ description }}" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://fm.brd.mn/{{ page.url }}" />
    <meta property="og:image" content="https://fm.brd.mn/favicon.png" />
    <meta property="og:site_name" content="brd.mn">
    <meta name="twitter:creator" content="@pbrdmn">
    <meta name="twitter:card" content="summary">
  </head>
  <body>
    <nav>
      <header><a href="/">Philip Boardman</a></header>
      <ul>
        {%- for link in collections.navAlpha -%}
          <li><a href="{{link.url}}" {% if page.url == link.url %} aria-current="page"{% endif %}>{{link.data.title }}</a></li>
        {%- endfor -%}
      </ul>
    </nav>

    <main>
    {{ content | safe }}
    </main>
  </body>
</html>