<article class="snippet">
  {%- if article.data.image %}
  <img src="{{article.url}}{{article.data.image}}" alt="{{article.data.imageAlt}}" width="120" loading="lazy" />
  {%- endif %}
  <h2><a href="{{article.url}}">{{article.data.title}}</a></h2>
  <p>{{article.data.description}}</p>
  <footer>
    {%- if article.data.updated %}
    <time datetime="{{ article.data.updated }}" title="Edited on {{ article.data.updated | postDate }}">📝 {{ article.data.updated | postDate }}</time>
    {%- else %}
    <time datetime="{{article.data.date}}" title="Published on {{ article.data.date | postDate }}">🗓 {{ article.data.date | postDate }}</time>
    {%- endif %}
  </footer>
</article>