<link rel="icon" href="{{ site.url }}/images/logo.png">
<meta name="theme-color" content="#fff">
<meta name="theme-color" content="#888488" media="(prefers-color-scheme: dark)">

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="article:author" content="{{ site.author }}">
<meta property="article:published_time" content="{{ page.date }}">
{%- if image %}
<meta property="og:image" content="{{ site.url }}{{ page.url }}{{ image }}">
{%- else %}
<meta property="og:image" content="{{ site.url }}/images/logo-large.jpg">
{%- endif %}