<link rel="icon" href="/logo.jpg" type="image/jpeg" />
<link rel="apple-touch-icon" href="/logo.jpg" />
<meta
  name="theme-color"
  content="#fff"
  media="(prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content="#160d16"
  media="(prefers-color-scheme: dark)"
/>

<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{%- if image %}
<meta property="og:image" content="{{ site.url }}{{ page.url }}{{ image }}" />
{%- else %}
<meta property="og:image" content="{{ site.url }}/logo.jpg" />
{%- endif %}
<meta property="og:site_name" content="{{ site.name }}">