<link rel="apple-touch-icon" href="/logo-320.png" />

<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{%- if image %}
<meta property="og:image" content="{{ site.url }}{{ page.url }}{{ image }}" />
{%- else %}
<meta property="og:image" content="{{ site.url }}/logo-320.png" />
{%- endif %}
<meta property="og:site_name" content="{{ site.name }}">
<meta name="twitter:creator" content="{{ site.twitter }}">
<meta name="twitter:card" content="summary">