<nav>
  <ul>
    <li><a href="/articles/">Articles</a></li>
    <li><a rel="me nofollow" href="https://linkedin.com/in/philipboardman/" title="Connections on LinkedIn">LinkedIn</a></li>
    <li><a rel="me nofollow" href="https://theblower.au/@pbrdmn" title="Social networking on Mastodon">Toots</a></li>
    <li><a rel="me nofollow" href="https://github.com/pbrdmn" title="Code repositories on GitHub">Code</a></li>
    <li><a href="/cv/">CV</a></li>
  </ul>
</nav>