---
title: Articles
display_title: All Articles
description: Recent and not-so recent writing
permalink: /articles/
---

<p><a href="{{ site.url }}{{ site.feed }}" title="Subscribe to the RSS feed"><img rel="alt" src="/images/rss.png" srcset="/images/rss.png, /images/rss@2x.png 2x /images/rss@3x.png 3x" width="16" height="16" alt="RSS" /></a> <a href="{{ site.url }}{{ site.feed }}" title="Subscribe to the RSS feed">Subscribe with RSS</a></p>

<hr />

{%- for article in collections.articles | reverse -%}
  {%- include 'snippet_lazy.njk' %}
{%- else -%}
<p>There are no articles available.</p>
{%- endfor %}