---
title: Articles
description: Recent and not-so recent writing
layout: default.njk
permalink: /articles/
---
<h1>{{ title }}</h1>

<p>{{ description}}.<br><a href="{{ site.url }}{{ site.feed }}" title="Subscribe to the RSS feed">Subscribe with RSS</a></p>

<hr />

{%- for article in collections.articles | reverse -%}
  {%- include 'snippet_lazy.njk' %}
{%- else -%}
<p>There are no articles available.</p>
{%- endfor %}