---
title: Philip Boardman
description: Interested in how things work; breaking things and fixing things
permalink: /
---

<p>Engineering management of distributed cross-functional software development teams.</p>
<p>{{ description }}.</p>
<p>Located in Wollongong, Australia.</p>

{%- include 'links.njk' %}