---
title: Philip Boardman
description: Interested in how things work; breaking things and fixing things
layout: default.njk
permalink: /
---

<p>Former software engineer, current engineering manager. Interested in how things work; breaking things and fixing things.</p>
<p>Located in Wollongong, Australia.</p>

<div class="links">
  <ul>
    <li><a rel="me nofollow" href="https://linkedin.com/in/philipboardman/" title="Connections on LinkedIn">LinkedIn</a></li>
    <li><a rel="me nofollow" href="https://theblower.au/@pbrdmn" title="Social networking on Mastodon">Toots</a></li>
    <li><a rel="me nofollow" href="https://github.com/pbrdmn" title="Code repositories on GitHub">Code</a></li>
    <li><a href="/cv/">About / CV</a></li>
  </ul>
</div>

<hr />

<ul class="snippets">
  {%- for article in collections.articles | reverse | limit(5, 0) -%}
    {%- include 'link.njk' %}
  {%- endfor %}
  <li>
    <a href="/articles/" title="All articles">All articles</a><br />
    Recent and not-so recent writing. <a href="{{ site.url }}{{ site.feed }}" title="Subscribe to the RSS feed">Subscribe with RSS</a></p></li>
</ul>