AddDefaultCharset utf-8

#####################################
# Browser cache for static files
#####################################
<FilesMatch "\.(js|css|jpg|gif|png|jpeg)$">
    <IfModule mod_expires.c>
        ExpiresActive on
        ExpiresDefault "access plus 365 days"
    </IfModule>
    FileETag MTime Size
</FilesMatch>

#####################################
# Redirect stuff
#####################################
<IfModule mod_rewrite.c>
    # Enable URL rewriting
    RewriteEngine On

    # Enforce Cloudflare HTTPS
    RewriteCond %{HTTP:CF-Visitor} '"scheme":"http"'
    RewriteRule ^(.*)$ https://brd.mn$1 [L]

    # RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteRule .* 404.html [L]
</IfModule>

#####################################
# directory listings are disabled
#####################################
Options -Indexes
ErrorDocument 403 /error.html