---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: default.njk
eleventyComputed:
  title: Articles tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>{{title}}</h1>

{% set postslist = collections[ tag ] %}

{%- for article in postslist | reverse -%}
  {%- include 'snippet.njk' %}
{%- else -%}
<p>There are no articles available.</p>
{%- endfor %}

<p>See <a href="{{ '/articles/' | url }}">all articles</a>.</p>