---
title: Articles
description: Recent and not-so recent writing
pagination:
  data: collections.articles
  reverse: true
  size: 10
  generatePageOnEmptyData: true
---
<h1>{{ title }}</h1>

<p>This is where you'll find my writing.</p>
<p>You can also subscribe <a href="{{ site.url }}{{ site.feed }}" title="Subscribe to the RSS feed">via the RSS feed</a></p>

{%- for article in pagination.items -%}
  <h3>{{article.title}}</h3>
  {%- include 'snippet.njk' %}
{%- else -%}
<p>There are no articles available.</p>
{%- endfor %}