---
title: Philip Boardman
description: Interested in how things work; breaking things and fixing things
layout: default.njk
---

<p>Former software engineer, current engineering manager. Interested in how things work; breaking things and fixing things.</p>
<p>Located in Wollongong, Australia.</p>

<div class="links">
  <ul>
    <li><a href="/cv/">📃 About / CV</a></li>
    <li><a rel="me nofollow" href="https://linkedin.com/in/philipboardman/">🫱🏽‍🫲🏼 Connect on LinkedIn</a></li>
    <li><a href="/uses">⚙️ Tools and software</a></li>
    <li><a href="/articles/">🗞️ Articles</a></li>
    <li><a rel="me nofollow" href="https://theblower.au/@pbrdmn">💬 Toots at pbrdmn@theblower.au</a></li>
    <li><a rel="me nofollow" href="https://github.com/pbrdmn">👨🏽‍💻 Code on Github</a></li>
  </ul>
</div>

{%- for article in collections.articles | reverse | limit(10) -%}
  {%- include 'snippet.njk' %}
{%- endfor %}
