---
title: Recent Articles
description: Recent and not-so recent writing
layout: default.njk
---
<h1>{{ title }}</h1>

<p>This is where you'll find my writing. <a href="/articles">See all articles</a>.</p>
<p>You can also subscribe <a href="{{ site.url }}{{ site.feed }}" title="Subscribe to the RSS feed">via the RSS feed</a></p>

{%- for article in collections.articles | reverse | limit(10) -%}
  {%- include 'snippet.njk' %}
{%- endfor %}