:root {
  --foreground: #3c363d;
  --background: #f4eff5;
  --background2: #e5dfe6;
  --link: blue;
  --visited: purple;
  --hover: navy;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --foreground: #ddd4df;
    --background: #160d16;
    --background2: #241824;
    --link: #8995ff;
    --visited: #eb7bff;
    --hover: #8080eb;
  }
}

html {
  margin: 0;
  font-size: 1em;
  font-size: calc(0.3vw + 1em);
  line-height: 1.5rem;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  max-width: 36em;
  margin: 0 auto;
  padding: 1em;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--visited);
}
a:hover,
a:active {
  color: var(--hover);
}

nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
nav a,
nav a:visited {
  color: var(--foreground);
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: background-position-y 0.5s ease-in;
  background: linear-gradient(
      var(--background) 0%,
      var(--background) 50%,
      var(--hover) 50%,
      var(--hover) 55%
    )
    0% 0%;
  background-size: 100% 200%;
  border-radius: 0.5rem;
}
nav a:hover {
  background-position-y: 100%;
  transition: background-position-y 0.1s ease-in;
}
nav a[aria-current] {
  color: var(--foreground);
  background: var(--background2);
  pointer-events: none;
}

nav header a {
  font-size: 1rem;
}
nav header a:before {
  background: url(/apple-touch-icon.png) center no-repeat var(--background);
  background-size: cover;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 3em;
  height: 3em;
  margin-right: 0.5rem;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.1em;
  font-weight: normal;
}

h2 {
  font-size: 1.1rem;
  line-height: 1.1em;
  font-weight: normal;
}
h2 a:visited {
  color: var(--foreground);
}

.meta,
article footer {
  font-size: 0.8rem;
  opacity: 0.7;
}

blockquote,
pre {
  background: var(--background2);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem -1rem;
}

pre {
  font-size: 16px;
  white-space: pre-wrap;
  word-break: break-all;
}

blockquote > :first-child {
  margin-top: 0.5rem;
}
blockquote > :last-child {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}
img.block {
  display: block;
  margin: 0 auto;
}

hr {
  height: 1px;
  width: 80%;
  background: var(--foreground);
  border: 0;
}
