:root {
  --foreground: #3c363d;
  --background: #fff;
  --background2: #f3f2f4;
  --code-background: #3b3b3b;
  --link: #0063a5;
  --visited: #70007c;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --foreground: #a099a1;
    --background: #0c070c;
    --background2: #160d16;
    --link: #6489c0;
    --visited: #8b56b4;
    --code-background: #030203;
  }

  header a::before,
  img {
    opacity: 0.7;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-size: calc(0.5vw + 0.9rem);
  font-size: clamp(10px, calc(0.5vw + 0.9rem), 2rem);
  line-height: 1.5rem;
  color: var(--foreground);
  background: var(--background);
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.5em;
  max-width: 36em;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--visited);
}

nav {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}
nav a,
nav a:visited {
  color: var(--foreground);
  text-decoration: none;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  display: inline-block;
  background: transparent;
  border-radius: 0.25rem;
}
nav a:hover {
  color: var(--foreground);
  background: var(--background2);
}

nav a::before {
  content: "";
  background: linear-gradient(45deg, #e85f40, #b71dc4);
  background-image: url(/logo.png);
  background-size: cover;
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
}

h1 {
  font-size: 2rem;
  line-height: 1.1em;
  font-weight: normal;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.1em;
  font-weight: normal;
}

li {
  margin-bottom: 0.3rem;
}

.meta,
article footer {
  font-size: 0.8rem;
}

article.snippet {
  padding: 1rem 0;
  clear: right;
}
article.snippet a:has(img) {
  float: right;
  margin: 1rem 0 1rem 1rem;
}

blockquote,
pre {
  background: var(--background2);
  padding: 1rem;
  margin: 1rem -1rem;
  overflow: hidden;
}

code {
  background: var(--background2);
}

@media print, (prefers-contrast: more) {
  article.snippet,
  blockquote,
  pre {
    background: var(--background);
    outline: 2px solid var(--background2);
  }
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.2rem;
}
img.block {
  display: block;
  margin: 0 auto;
}

hr {
  height: 0.1rem;
  width: 90%;
  background: var(--background2);
  border: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figure {
  background: var(--background2);
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.5rem;
}
figure img {
  border-radius: 0.2rem;
}

/* Homepage links block */
.links ul {
  margin: 0;
  padding: 0;
}
.links li {
  list-style: none;
}
.links li a {
  color: var(--link);
  display: block;
  background: var(--background2);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
}
.links li a:hover {
  box-shadow: 0 0 0.25rem var(--link);
}

@media (min-width: 660px) {
  article.snippet,
  blockquote,
  pre {
    border-radius: 0.5rem;
  }
  pre[class*="language-"] {
    border-radius: 0.3em;
  }
}

@media print {
  :root {
    --foreground: #000;
    --background2: #fff;
  }

  html {
    font-size: 14px;
  }

  body {
    line-height: 1.2rem;
  }

  main {
    max-width: 100%;
  }
}
