:root {
  --foreground: #3c363d;
  --background: #fff;
  --background2: #f3f2f4;
  --code-background: #3b3b3b;
  --link: #0063a5;
  --visited: #70007c;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --foreground: #ddd4df;
    --background: #160d16;
    --background2: #241824;
    --link: #7fb2ff;
    --visited: #c375ff;
    --code-background: #0e050e;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition-duration: 0 !important;
  }
}

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-size: calc(0.5vw + 1rem);
  background: var(--background);
}

body {
  line-height: 1.5rem;
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0.5rem 0.5rem 5rem;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.5em;
  max-width: 36em;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--visited);
}

nav {
  text-align: center;
  margin: 0 -0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  text-align: center;
  display: flex;
  justify-content: center;
}
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav a,
nav a:visited {
  color: var(--foreground);
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background: transparent;
  border-radius: 0.25rem;
}
nav a:hover {
  text-decoration: underline;
}
nav a[aria-current] {
  color: var(--foreground);
  background: var(--background2);
  pointer-events: none;
}

li {
  margin-bottom: 0.3rem;
}

@media print {
  nav ul {
    display: none;
  }
}

nav header a::before {
  content: "";
  background: linear-gradient(45deg, #e85f40, #b71dc4);
  background-image: url(/logo.jpg);
  background-size: cover;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
}

h1 {
  font-size: 2rem;
  line-height: 1.1em;
  font-weight: normal;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.1em;
  font-weight: normal;
}

.meta,
article footer {
  font-size: 0.8rem;
}

article.snippet,
blockquote,
pre {
  background: var(--background2);
  padding: 1rem;
  margin: 1rem -1rem;
}

article.snippet img {
  float: right;
  width: 5rem;
  margin: 0 0 1rem 1rem;
}

code {
  background: var(--background2);
}

@media print, (prefers-contrast: more) {
  article.snippet,
  blockquote,
  pre {
    background: var(--background);
    outline: 2px solid var(--background2);
  }
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

article.snippet > h2:first-of-type,
blockquote > h2:first-of-type,
article.snippet > h3:first-of-type,
blockquote > h3:first-of-type,
article.snippet > p:first-of-type,
blockquote > p:first-of-type {
  margin-top: 0;
}
article.snippet > :last-child,
blockquote > :last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}
img.block {
  display: block;
  margin: 0 auto;
}

hr {
  height: 0.1rem;
  width: 90%;
  background: var(--background2);
  border: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figure {
  background: var(--background2);
  padding: 0.3rem;
  text-align: center;
}
figure img {
  border-radius: 0.2rem;
}

/* Homepage links block */
.links ul {
  margin: 0;
  padding: 0;
}
.links li {
  list-style: none;
}

/* prism code styles */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  margin: 1em -1rem;
  padding: 1rem;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--code-background);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media (min-width: 730px) {

  article.snippet,
  blockquote,
  pre,
  figure {
    border-radius: 0.5rem;
  }
  pre[class*="language-"] {
    border-radius: 0.3em;
  }
}

@media print {
  :root {
    --foreground: #000;
    --background2: #fff;
  }

  html {
    font-size: 14px;
  }

  body {
    line-height: 1.2rem;
  }

  main {
    max-width: 100%;
  }
}
